.self {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 250px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.imgFix {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
svg {
  display: inline;
}

.imgGridFix {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#react {
  filter: invert(100%) sepia(20%) saturate(6396%) hue-rotate(169deg) brightness(95%) contrast(89%);
}

#angular {
  filter: invert(54%) sepia(96%) saturate(884%) hue-rotate(1deg) brightness(107%) contrast(104%);
}

#javascript {
  filter: invert(37%) sepia(58%) saturate(3893%) hue-rotate(259deg) brightness(97%) contrast(110%);
}

#css {
  filter: invert(31%) sepia(87%) saturate(2325%) hue-rotate(340deg) brightness(99%) contrast(113%);
}

#node {
  filter: invert(73%) sepia(67%) saturate(704%) hue-rotate(360deg) brightness(105%) contrast(105%);
}

#ts {
  filter: invert(56%) sepia(43%) saturate(621%) hue-rotate(165deg) brightness(90%) contrast(84%);
}




