.self {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 250px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.imgFix {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
svg {
  display: inline;
}

.imgGridFix {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


